@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


body {

}

.hero-box {
    padding: 3rem 0 0 10rem;
    background-color: #7030cc;
}

.navbar {
    margin-right: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar >img {
    height: 45px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;

}

.nav-item {
    margin-left: 3rem;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;

}

.nav-item:hover {
    color: #1bbcef;
    border-bottom: 1px solid #9f67ed;
}

.nav-item:last-of-type {
    background-color: #1bbcef;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.nav-item:last-of-type:hover {
    background-color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: #1bbcef;

}

.hero {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 3rem;
align-items: center;
margin: 2rem 0;
}

.hero-text {
    margin-right: 3rem;
}

.hero-text > h1 {
    font-size: 5.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.hero-text > p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-right: 4rem;
    color: #fff;
    line-height: 2;
}

.benifits-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: center;
    margin-right: 3rem;
}

.benifits-section > img {
    width: 60vw;
}

.benifits-list > h1 {
    font-size: 2.5rem;
}

.benifits {
    margin: 4rem 3rem 0 0;
}

.benifit {
    display: flex;
    align-items: flex-start;

}

.benifit > img {
    margin: 10px;
}

.benifit > div {
    margin-bottom: 2rem;
}

.benifit > div > h1 {
    font-size: 1.5rem;
}

.benifit > div > p {
    margin: 20px 30px 0 0;
    font-size: 1rem;
}

.feature-section {
    text-align: center;
}

.feature-heading {
    max-width: 25rem;
    margin-inline:auto ;
    font-size: 2rem;
    font-weight: 700;
}

.feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 6rem;
    margin:4rem 8rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.card-icon {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: red; */
    margin-bottom: 3rem;
    margin-top: 2rem;

}

.bg-1 {
    background-color: #faeaeb;
}

.bg-2 {
    background-color: #faf0ee;
}

.bg-3 {
    background-color: #e9f4f6;
}

.bg-4 {
    background-color: #f2e7f5;
}

.card-icon >img {
    width: 4rem;
    height: 4rem;
    color: #9f67ed;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.card-text {
    width: 100%;
    /* background-color: purple; */
    padding:1rem 4rem;
    border-radius: 2rem;
    /* color: #fff; */
}



.card-text:hover {
    width: 100%;
    background-color: purple;
    padding:1rem 4rem;
    border-radius: 2rem;
    color: #fff;
    transition: none !important;



}


@media screen and (max-width:1351px) {
    .navbar {
        flex-direction: column;
        padding-top: 3rem;
        text-align: center;
        margin-right: 0;
    }

    .nav-item {
        margin: 0;
    }

    .nav-list {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .hero-box {
        padding: 0;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero > img {
        width: 90vw;
    }

    .hero-text{
        margin-right: 0;
    }

    .hero-text > h1 {
        font-size: 4rem;
    }

    .hero-text > p {
        margin-right: 0;
        font-size: 1rem;
        max-width: 35rem;
        margin-inline: auto;
    }

    .feature-cards {
        grid-template-columns: 1fr 1fr;
    }

    .benifits-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .benifits-section > img {
        width: 90vw;
    }

    .benifits-list > h1{
        text-align: center;
    }
}

@media screen and (max-width:551px) {

    .feature-cards {
        grid-template-columns: 1fr;
    }

    .hero-text > h1 {
        font-size: 2.5rem;
    }

    .benifits-list > h1{
        text-align: center;
        font-size: 2rem;
    }

    .benifits {
        margin: 3rem auto;
        text-align: center;

    }

    .feature-heading 
{
    font-size: 1.6rem;
    width: 80vw;
    margin-inline: auto;
}
    
}